# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Ignore .DS_Store files on OS X
.DS_Store

#ignore idea folder
.idea

# Users Environment Variables
.lock-wscript

# corenlp should not be checked in because it is very large
corenlp

#exclude arcanist system file
arcanist
