# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
# Deployed apps should consider commenting this line out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules

# Ignore .DS_Store files on OS X
.DS_Store

#ignore idea folder
.idea

# Users Environment Variables
.lock-wscript

# corenlp should not be checked in because it is very large
corenlp

#exclude arcanist system file
arcanist
